VITE_API_URL="http://localhost:3333"
VITE_WS_URL="http://localhost:3333"
VITE_GOOGLE_CLIENT_ID="your-google-oauth-client-id.apps.googleusercontent.com"
VITE_APP_URL="http://localhost:5173"
VITE_ENABLE_ADS="true"
VITE_AD_PROVIDER="adsense"
VITE_AD_FALLBACK_PROVIDER="house"
VITE_ADSENSE_CLIENT_ID="ca-pub-5790403109966296"
VITE_ADSENSE_HOME_SLOT="5809602120"
VITE_ADSENSE_LISTS_SLOT="9019018151"
VITE_ADSENSE_HISTORY_SLOT="3661950939"
VITE_ADSENSE_COMPARE_SLOT="8492404549"
VITE_ADSENSE_LANDING_SLOT="2348869268"
VITE_ENABLE_ANALYTICS="true"
VITE_DEBUG_ANALYTICS="true"
